# fly.toml app configuration file generated for study-td-relay on 2026-01-29T01:26:27Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'study-td-relay'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8787
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
